/*mada font*/
@import url('https://fonts.googleapis.com/css?family=Mada&display=swap');

/*remove outline from focused inputs*/
input.form-control:focus, 
input[type=text]:focus, 
input[type=email]:focus, 
[type=text].form-control:focus,  
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}

html{
  font-size: 1rem;
}
body{
  font-family: 'Arial';
}

/*landing section*/
#landing-section{
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem 0;
}

.header .logo{
  color: #f9f9f9;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.6rem;
}
.header .logo span{
  color: #28b45d;
  font-weight: 600;
}
/*hero*/
.hero-left h1{
  font-size: 5.5rem;
  text-transform: uppercase;
  color: #5a5959;
  font-weight: 600;
  line-height: 1;
}
.hero-left h1 a{
  color: #28b45d;
  text-decoration: none;
}
/*hero right*/
.form-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b4b5b4;
}
.form-title h3{
  text-transform: uppercase;
  font-size: 1.5rem;
}
.pagination{
  display: flex;
  align-items: center;
  line-height: 1;
}
.pagination span{
  font-size: 1.5rem;
}
.pagination a{
  color: #adadad;
  text-decoration: none;
  padding: 0 0.8rem;
  font-size: 1.5rem;
}
.pagination a.active{
  color: #28b45d;
}
.pagination a:first-child{
  border-right: 2px solid #adadad;
}
.custom-input{
  background-color: #3c3c3c;
  border: none;
  outline: none;
  padding: 0;
  color: #adadad;
  font-size: 1.2rem;
}
.custom-input:focus{
  background-color: #3c3c3c;
  outline: none;
  color: #adadad;
}
.custom-span{
  background-color: #3c3c3c;
  border: none;
  color: #adadad;
}
.custom-btn{
  background-color: #28b45d;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: .6rem 3rem;
  font-size: 1.2rem;
}
.custom-btn:hover{
  color: #fff;
  background-color: #20914b;
}
.dropdown-custom{
  background-color: #3c3c3c;
  color: #adadad;
  outline: none;
  box-shadow: none;
  position: relative;
}
.dropdown-custom:hover{
  outline: none;
  box-shadow: none;
  color: #adadad;
}
#second-step{
  display: none;
}
#second-step.active{
  display: flex;
}
#second-step-button{
  display: none;
}
#second-step-button.active{
  display: inline-block;
}
.placeholder-center::placeholder{
  text-align: center;
}
.custom-flex{
  display: flex;
  align-items: center;
}
.custom-label{
  color: #c9c9c9;
}
.custom-label a{
  color: #28b45d;
}
.security-info{
  width: 70%;
  margin: auto;
  text-align: center;
  color: #9d9d9d;
}
.security-info a{
  color: #28b45d;
}
/*steps section*/
#steps-section{
  padding: 3rem 0;
}
#steps-section h3{
  text-transform: uppercase;
  color: #28b45d;
  font-weight: 600;
  font-size: 2rem;
}
#steps-section p{
  font-size: 1rem;
  color: #9d9d9d;
  width: 70%;
  margin: auto;
}

/*cards*/
.cards{
  padding: 4rem 0;
}
.box{
  cursor: pointer;
  transform-origin: bottom center;
  transition: all 0.2s linear;
}

.box-img{
  position: relative;
}

.box-img img {
  width: 75%;
  display: block;
  margin: auto;
}
.inactive{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: all 0.2s linear;
}
.active{
  opacity: 1;
  transition: all 0.2s linear;
}
.box:hover{
  transform: scale(1.1);
}
.box:hover .box-number h4, .box:hover .box-text h4{
  color: #28b45d;
}
.box:hover .inactive{
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.box:hover .active{
  opacity: 0;
  transform: scale(0);
}
.box-number h4{
  font-family: 'Mada';
  font-weight: 800;
  color: #a09f9f;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  transition: all 0.2s linear;
}
.box-text h4{
  color: #a09f9f;
  font-family: 'Mada';
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: 1.5rem;
}
.btn-wrapper{
  text-align: center;
}

/*faq section*/

#faq{
  padding: 3rem 0;
  background-color: #28b45d;
  color: #f9f9f9;
}
#faq h3{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}
.questions{
  padding: 0 10%;
}
.question-wrapper{
  display: flex;
  margin-bottom: 1rem;
}
.question-wrapper:last-child{
  margin-bottom: 0;
}
.toggle-custom{
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  color: #28b45d;
  border-radius: 0.4rem;
  margin-right: 1rem;
  position: relative;
}
.toggle-custom:after{
  content: '\f067';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.toggle-custom:focus{
  outline: none;
}
.toggle-custom.open:after{
  content: '\f068';
}
.question-text{
  margin-top: 5px;
}
.question-text span{
  font-size: 1.2rem;
  text-transform: uppercase;
}
.answer-text{
  margin-top: 0.4rem;
  padding: 0 0.4rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.answer-text p{
  font-size: 0.9rem;
}

/*footer*/

#footer{
  background-color: #1f1f1f;
  padding: 1.5rem 0;
  color: #b7b7b7;
}
#footer h3{
  color: #f9f9f9;
  text-transform: uppercase;
  font-size: 2rem;
}
#footer h3 span{
  color: #28b45d;
  font-weight: 600;
}
#footer p {
  font-size: 0.8rem;
}
.custom-link{
  position: relative;
  color: #b7b7b7;
}
.custom-link:hover{
  color: #fff;
}
.custom-link::before{
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background-color: #b7b7b7;
}
.footer-nav li:first-child a:before{
  display: none;
}

/*media*/

@media (max-width: 992px){
  .hero-left h1{
    font-size: 4rem;
  }
}
@media (max-width: 768px){
  .hero-left{
    margin-bottom: 2rem;
  }
  .hero-left h1{
    font-size: 3rem;
  }
  .box{
    margin: auto;
    margin-bottom: 4rem;
    width: 80%;
  }
  .box:last-child{
    margin-bottom: 0;
  }
  #steps-section h3{
    font-size: 1.5rem;
  }
  #faq h3{
    font-size: 1.5rem;
  }
  .questions{
    padding: 0;
  }
  .question-text span{
    font-size: 1rem;
  }
  .toggle-custom{
    width: 25px;
    height: 25px;
  }
}